p {
    background-color: chartreuse;
}

div > p {
    background-color: yellow;
}

.title {
    background-color: aquamarine;
}

p.title {
    background-color: blueviolet;
}

#promo {
    background-color: burlywood;
}

h1#prom {
    background-color: cadetblue;
}

.title a {
    background-color: chocolate;
}

.title .warning {
    background-color: crimson;
}

.container {
 max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 2px 10px black;
}